
body {
    margin: 0;
}


.nav {
    background-color: black;
    width: 90vw;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    margin-bottom: 2rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem; 
}

.nav li:hover {
    background-color: #555;
}
.nav a{
    text-decoration: none;
}